<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chatiing App</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container-fluid wraper">
            <div class="container">
                <nav
                    class="
                        navbar navbar-expand-lg navbar-expand-md navbar-light
                    "
                >
                    <a class="navbar-brand text-white" href="#">
                        <strong>JHNChattingApp</strong>
                    </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav ml-auto px-4 text-white">
                            <li class="nav-item">
                                <a class="nav-link" href="#">User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Inbox</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="card chattingSection m-auto my-5">
                <div class="card-body">
                    <div class="row set-height">
                        <div class="col-4 contractSection">
                            <p class="mb-0 p-3">Search Conversation</p>
                            <form
                                class="search_form px-3"
                                action=""
                                method="get"
                            >
                                <div class="searchIcon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <input
                                    class="form-control"
                                    type="search"
                                    name="search"
                                    id="search"
                                    placeholder="Search"
                                />
                            </form>
                            <div class="d-flex p-3">
                                <span class="mr-auto text-white"
                                    >Recent Chats</span
                                >

                                <span><a href="#">New chat</a></span>
                            </div>
                            <ul class="list-group">
                                <div class="list_item">
                                    <li
                                        class="
                                            list-group-item
                                            justify-content-center
                                        "
                                    >
                                        <div class="media conversationImg">
                                            <img
                                                class="mr-3 rounded-circle"
                                                src="/images/download.png"
                                                alt=""
                                            />
                                            <div class="media-body">
                                                <h6 class="mb-0">user name</h6>
                                                <small>user last message</small>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div class="list_item">
                                    <li
                                        class="
                                            list-group-item
                                            justify-content-center
                                        "
                                    >
                                        <div class="media conversationImg">
                                            <img
                                                class="mr-3 rounded-circle"
                                                src="/images/download.png"
                                                alt=""
                                            />
                                            <div class="media-body">
                                                <h6 class="mb-0">user name</h6>
                                                <small>user last message</small>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div class="list_item">
                                    <li
                                        class="
                                            list-group-item
                                            justify-content-center
                                        "
                                    >
                                        <div class="media conversationImg">
                                            <img
                                                class="mr-3 rounded-circle"
                                                src="/images/download.png"
                                                alt=""
                                            />
                                            <div class="media-body">
                                                <h6 class="mb-0">user name</h6>
                                                <small>user last message</small>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div class="list_item">
                                    <li
                                        class="
                                            list-group-item
                                            justify-content-center
                                        "
                                    >
                                        <div class="media conversationImg">
                                            <img
                                                class="mr-3 rounded-circle"
                                                src="/images/download.png"
                                                alt=""
                                            />
                                            <div class="media-body">
                                                <h6 class="mb-0">user name</h6>
                                                <small>user last message</small>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div class="list_item">
                                    <li
                                        class="
                                            list-group-item
                                            justify-content-center
                                        "
                                    >
                                        <div class="media conversationImg">
                                            <img
                                                class="mr-3 rounded-circle"
                                                src="/images/download.png"
                                                alt=""
                                            />
                                            <div class="media-body">
                                                <h6 class="mb-0">user name</h6>
                                                <small>user last message</small>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                                <div class="list_item">
                                    <li
                                        class="
                                            list-group-item
                                            justify-content-center
                                        "
                                    >
                                        <div class="media conversationImg">
                                            <img
                                                class="mr-3 rounded-circle"
                                                src="/images/download.png"
                                                alt=""
                                            />
                                            <div class="media-body">
                                                <h6 class="mb-0">user name</h6>
                                                <small>user last message</small>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <div class="col-8">
                            <div class="d-flex p-2 userHeader">
                                <div class="media conversationImg">
                                    <img
                                        class="mr-3 rounded-circle"
                                        src="/images/download.png"
                                        alt=""
                                    />
                                    <div class="media-body">
                                        <h6 class="mb-0">user name</h6>
                                        <small>user last message time</small>
                                    </div>
                                </div>
                            </div>
                            <div class="chattingArea d-flex">
                                <ul id="message-wraper" class="message-wraper">
                                    <li>
                                        <div class="media messageAvatar">
                                            <img
                                                class="mr-3 rounded-circle"
                                                src="/images/download.png"
                                                alt=""
                                            />
                                            <div class="media-body">
                                                <div class="receive_message">
                                                    <div>hello world</div>
                                                    <small
                                                        class="
                                                            message-Time
                                                            mb-0
                                                        "
                                                        >6 june</small
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sent_message">
                                            <div>hello world</div>
                                            <small class="message-Time mb-0"
                                                >6 june</small
                                            >
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media messageAvatar">
                                            <img
                                                class="mr-3 rounded-circle"
                                                src="/images/download.png"
                                                alt=""
                                            />
                                            <div class="media-body">
                                                <div class="receive_message">
                                                    <div>hello world</div>
                                                    <small
                                                        class="
                                                            message-Time
                                                            mb-0
                                                        "
                                                        >6 june</small
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sent_message">
                                            <div>hello world</div>
                                            <small class="message-Time mb-0"
                                                >6 june</small
                                            >
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="search_form message_input_wraper">
                                <div class="input-form">
                                    <label for="attatchment">
                                        <div class="attachment-icon">
                                            <i class="fa fa-paperclip"></i></div
                                    ></label>
                                    <input
                                        type="file"
                                        name="attatchment"
                                        id="attatchment"
                                        multiple
                                    />
                                    <input
                                        class="form-control rounded"
                                        type="text"
                                        name="message"
                                        id="messageBox"
                                        placeholder=" Write your message"
                                    />
                                </div>
                                <div class="send_icon">
                                    <i class="fa fa-paper-plane"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
        <script src="/script/script.js"></script>
    </body>
</html>
